body {
    font-family: "Times New Roman", Times, serif;
    background-color: #b5bde0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( #b5bde0 100%);
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #e0e0e0;
}

h1 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
    font-weight: bold;

}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #008cff;
    color: white;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
}




.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.login-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.success-message {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
    display: none;
    font-weight: bold;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
    font-weight: bold;
}